!!!
%haml
  %head
  %body
    .content
      .left-content
        .top-space
          = link_to do
            %i.fa.fa-gear.fa-lg
          = link_to do
            %i.fa.fa-edit.fa-lg
          %p Member名
        .under-space
      .right-content
        .top-space2
          .editbtn
            %a{:href => "" , :class => "square_btn"}EDIT
          %p Group名
        .under-space2

