$white: #FFFFFF;
$btn: #67c5ff;
$hover: #cbedff;
$content: #434A54;
$send: #A9A9A9;


.content{
  &__left{
    float:left;
  	&__top{
    	background-color: #00008B;
    	width: 300px;
    	height: 90px;
        i{
        color:white;
        line-height: 90px;
        float:right;
        padding:0 15px 0 0;
        }
        p{
        line-height: 90px;
        float:left;
        padding:0 0 0 15px;
        color:white;
        font-weight:bold;
        }
  	}
  	&__under{
  		background-color: #2f3e51;
  		width: 300px;
  	 	height: 890px;
      p{
        color: $white;
        font-size:15px;
        padding: 20px 0 5px 20px;
      }
      span{
       color: $white;
       font-size:11px;
       padding-left:20px;
      }
  	}
  }
  &__right{
    float: right;
  	background-color: #F8F8FF;
    width: calc(100% - 300px);
    &__top{
      height: 90px;
      &--left {
        float: left;
        padding:22px 0 0 40px;
        p {
          font-weight:bold;
          font-size: 20px;
          color:#333333;
        }
        pre {
          font-size: 12px;
          color: #999999;
        }
      }
      &--edit-btn{
        float:right;
        padding:25px 22px 0 0;
        .square_btn{
          display: inline-block;
          padding: 0.5em 1em;
          text-decoration: none;
          color: $btn;
          border: dashed 1px $btn;
          background: #f2fcff;
          border-radius: 3px;
          transition: .4s;
          &:hover {
            background: $hover;
            color: #FFF;
          }
        }
      }
    }
    &__under{
      background-color:#DCDCDC;
      height: 790px;
      &__message{
        padding: 46px 0 10px 40px;
        span{
         font-size: 16px;
         font-weight: bold;
         color: $content;
        }
        p{
         font-size: 14px;
         color: $content;
        }
      }
      &--send-btn{
        background-color: $send;
        padding: 20px 0 16px 20px;
        .message_form{
          width: calc(100% - 200px);
          height: 60px;
          padding: 0 40px 0 20px;
          border-left: solid $send 50p;
        }
        .fa-image{
          position: absolute;
          padding: 20px 0px 0px 10px;
          position: relative;
          right: 40px;
        }
        .square_btn{
          display: inline-block;
          padding: 0.5em 1em;
          text-decoration: none;
          color: $btn;
          border: dashed 1px $btn;
          background: #f2fcff;
          border-radius: 3px;
          transition: .4s;
          &:hover {
            background: $hover;
            color: #FFF;
          }
        }
     }
    }
  }
}


