
.content{
  .left-content{
    float:left;
  	.top-space{
    	background-color: #00008B;
    	width: 300px;
    	height: 90px;
        i{
        color:white;
        line-height: 90px;
        float:right;
        padding:0 15px 0 0;
        }
        p{
        line-height: 90px;
        float:left;
        padding:0 0 0 15px;
        color:white;
        font-weight:bold;
        }
  	}
  	.under-space{
  		background-color: #4682B4;
  		width: 300px;
  	 	height: 890px;
  	}
  }
  .right-content{
    float: right;
  	background-color: #F8F8FF;
    width: calc(100% - 300px);
    .top-space2{
      height: 90px;
      .editbtn{
        float:right;
        padding:25px 22px 0 0;
        .square_btn{
          display: inline-block;
          padding: 0.5em 1em;
          text-decoration: none;
          color: #67c5ff;
          border: dashed 1px #67c5ff;
          background: #f2fcff;
          border-radius: 3px;
          transition: .4s;
         }

            .square_btn:hover {
              background: #cbedff;
              color: #FFF;
            }
       }
      p{
        font-weight:bold;
        padding:0 0 0 20px;
        line-height: 90px;
        font-size: 1.5em;
          a{
            font-size: 0.7em;
          }
      }
    }
    .under-space2{
      background-color:#DCDCDC;
      height: 790px;
    }
    .send-space{
      height:100px;
      background-color:#A9A9A9;
        .message_form{
          .form{
            input[type="file"] {
             font-family: FontAwesome;
             }
            input[type="submit"]{
              display: inline-block;
              padding: 0.5em 1em;
              text-decoration: none;
              color: #67c5ff;
              border: dashed 1px #67c5ff;
              background: #f2fcff;
              border-radius: 3px;
              transition: .4s;
             }

            input[type="submit"]:hover {
              background: #cbedff;
              color: #FFF;
            }
           }
          }
        }
     }
}

.image{
  position: absolute;
  padding: 20px 0px 0px 20px;
}

.text_area{
  height: 60px;
  padding-left: 20px;

}

.fa-image{
  position: relative;
  right: 40px;
}

.message_form{
  padding-top: 20px;
  padding-left: 20px;
}

.send-space{
  border-left: solid #A9A9A9 50px;
}

.square_btn{
          display: inline-block;
          padding: 0.5em 1em;
          text-decoration: none;
          color: #67c5ff;
          border: dashed 1px #67c5ff;
          background: #f2fcff;
          border-radius: 3px;
          transition: .4s;
         }

.square_btn:hover {
  background: #cbedff;
  color: #FFF;
}


